html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;  
  list-style: none;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1520px;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  // border: 1px solid #d00;
}

$colorBlack: #030904;
$colorGreenLinght: #a6ee42;
$colorGreen: #689d1f;
$colorGrey: #575756;
$colorGrey2: #c4c4c4;
$colorWhite: #ffffff;
$colorWhite2: #fbfbfb;
$colorGreyLinght: #EAEAEA;

$desTop: 1520px;
$MacBook: 1296px;
$Tablet: 800px;
$Phone: 320px;
$marginBottom: 24px;

@mixin border() {
  border: 1px solid rgba(255, 255, 255, 0);
}

@mixin focus() {
  position: absolute;
  width: 336px; 
  height: 30px;
  transform: rotate(60deg) translateY(190px);
  background: linear-gradient(83.59deg, #FFFFFF -41.08%, rgba(217, 217, 217, 0) 112.49%);
  animation-name: focus;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes focus {
  0% {
    transform: rotate(60deg) translateY(170px);
  }

  20% {
     transform: rotate(60deg) translateY(-180px);
  }

  80% {
     transform: rotate(60deg) translateY(-180px);
  }

  90% {
    transform: rotate(60deg) translateY(-180px);
  }

  100% {
    transform: rotate(60deg) translateY(170px);
    opacity: 0;
    z-index: -1;
  }
}